body {
  width: 100vw;
  height: max-content;
  background-color: rgb(255, 255, 255);
  font-family: 'Playfair Display', serif;
}

/*Page acceuil*/

.pageAcceuil {
  width: 100%;

  background-color: rgb(34, 34, 34);
  box-shadow: 1px 1px 12px #555;
  
  background-size: cover;
  background-position: center center;
}

/*bar de navigation*/

.menu {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  font-family: 'Righteous', cursive;
  background: rgba(0, 0, 0, 0.555);
}

.menu a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 15px;
}

/*hover bar de navigation*/
.hover-nav {

position: relative;
text-decoration: none;
}
.hover-nav:after {
content: '';
position: absolute;
margin-bottom: 10px;
bottom: 0;
left: 0;
width: 0%;
border-bottom: 2px solid white;
transition: 0.4s;
text-decoration: none;
}
.hover-nav:hover:after {
width: 100%;

}



.titre1 {
    position: absolute;
    z-index: 4000;
    top: 25%;
    left: 25%;
  font-size:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:whitesmoke;
  margin-top:100px;
font-weight: 900;
font-weight: bold;
font-family: 'Righteous', cursive;
 text-shadow: 4px 4px  rgba(0, 0, 0, 0.719);
    
} 



 	

/*grid page d'acceuil*/

.photo1 {
  grid-area: photo1;
  background-image: url(./assets/img/yezzy.jpg);
  background-position: center center;
  opacity: 0.6;
}

.photo2 {
  grid-area: photo2;
  background-image: url(./assets/img/sneakers-couv2.jpg);
  opacity: 0.6;

}

.photo3 {
  grid-area: photo3;
  background-image: url(./assets/img/111380.jpg);
  background-position: center center;
  opacity: 0.6;
}

.photo4 {
  grid-area: photo4;
  background-image: url(./assets/img/mj.jpg);
  background-position: center center;
  opacity: 0.6;
}

.photo5 {
  grid-area: photo5;
 background-image: url(./assets/img/nike.jpg);
 background-position: center center;

 opacity: 0.6;
}

.photo6 {
  grid-area: photo6;
  background-image: url(./assets/img/Tq1M.gif);
  background-position-y: top;
  opacity: 0.6;
  
}

.photo7 {
  grid-area: photo7;
  background-image: url(./assets/img/reebok-58095.jpg);
  background-position: center center;
  opacity: 0.6;
  }

.photo8 {
  grid-area: photo8;
  background-image: url(./assets/img/Tq1M.gif);
  background-position: center center;
  opacity: 0.6;
}

.photo9 {
  grid-area: photo9;
  background-image: url(./assets/img/sneakers.jpg);
  opacity: 0.6;
}

.photo10 {
  grid-area: photo10;
  background-image: url(./assets/img/gsneakers.jpg);
  opacity: 0.6;
}

.grid {
 position: relative;
  max-width: 100vw;
  height: 100vh;
  grid-gap: 10px;
  display: grid;
  grid-template-areas: ". . . . . . . . . . . photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 . . . . . . . . . . . . . . . . ." ". . . . . . . . . . . photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 . . . . . . . . . . . . . . . . ." ". . . . . . . . . . . photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 . . . . . . . . . . . . . photo9 photo9 photo9 photo9" ". photo1 photo1 photo1 photo1 . . . . . . photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo6 photo6 photo6 photo6 photo6 . . . . . . . . photo9 photo9 photo9 photo9" ". photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo6 photo6 photo6 photo6 photo6 . . . . . . . . photo9 photo9 photo9 photo9" ". photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo6 photo6 photo6 photo6 photo6 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9" ". photo1 photo1 photo1 photo1 photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo6 photo6 photo6 photo6 photo6 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9" "photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo4 photo6 photo6 photo6 photo6 photo6 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9" "photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3 photo5 photo5 photo5 photo5 photo5 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9" "photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3 photo5 photo5 photo5 photo5 photo5 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9" "photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo3 photo5 photo5 photo5 photo5 photo5 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9" "photo2 photo2 photo2 photo2 photo2 . . . . . . photo5 photo5 photo5 photo5 photo5 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo8 photo10 photo10 photo10 photo10" ". . . . . . . . . . . photo5 photo5 photo5 photo5 photo5 photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 . . . . . . . . photo10 photo10 photo10 photo10" ". . . . . . . . . . . . . . . . photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 . . . . . . . . photo10 photo10 photo10 photo10" ". . . . . . . . . . . . . . . . photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 . . . . . . . . photo10 photo10 photo10 photo10" ". . . . . . . . . . . . . . . . photo7 photo7 photo7 photo7 photo7 photo7 photo7 photo7 . . . . . . . . . . . .";
}
.grid .grid--item {
  background-size: cover;
  box-shadow: 0 0 10px;
}
.grid .grid--item::before {
  --aspect-ratio: 1.2/1;
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.grid--item:hover {
  opacity: 1;
}


/*page histoire*/

.pageHistoire {
  margin-top: 40px;
}

.margin-histoire {

  margin-left:-50px;




}

.image-histoire {
  width: 50%;
  margin-left:150px;
  margin-right: 300px;
  margin-top: 60px;
  box-shadow: 0px 0px 12px #555;
  opacity: 0.9;
}

.p-histoire {
  font-size:50px;
  text-align:center;
  color: rgb(43, 42, 42);
}


.div {
  width: 70px;
  height: 7px;
  background-color: rgba(255, 0, 0, 0.753);
  margin-bottom: 49px;
}


.position-right {
  justify-content: right;
  align-items: right;
}



.div1 {
  width: 70px;
  height: 7px;
  background-color: rgba(255, 0, 0, 0.753);
  /* margin-bottom: -9px; */
}

.p-2 {
  width: 550px;
  margin-bottom: 40px;
  margin-left: 60px;
 
}

.span-histoire {
  background-color: rgba(255, 0, 0, 0.753);
  font-family: 'Righteous', cursive;
  border-radius: 2px;
  background-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}


.pagesuiteHistoire {
  margin-left: 60px;
}
.img-suitehistoire{
  width: 55%;
  height: auto;
  box-shadow: 0px 0px 12px #555;
  opacity: 0.9;
  margin-left: 50px;
  margin-bottom: 20px;
}

.titre-semelle {
  color: rgba(255, 0, 0, 0.753);
  ;
}


.img-suitehistoire2 {
  width: 50%;
  height: auto;
  box-shadow: 0px 0px 12px #555;
  opacity: 0.9;
  margin-left: 250px;
  
  
}
/*page sneakers*/
.pageSneakers {
  margin-left: 70px;
}
.p-sneakers {
  font-size:50px;
  color: rgb(43, 42, 42);
  margin-bottom: 50px;

}

.span-sneakers {
  background-color: rgba(255, 0, 0, 0.753);
  font-family: 'Righteous', cursive;
  border-radius: 2px;
 padding: 0 5px 5px;
  border-left:200px ;
}

/*cards sneakers*/

.card {
  width: 320px;
  height: 260px;
margin-left: -20px;
margin-right: 25px;
  margin-bottom: 10px;
  padding: 2.5rem;
  position: relative;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.753);
  font-family: 'Righteous', cursive;
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
 
}
.card .info h1 {
  font-size: 20px;
  margin-top: -8px;
 
}
.card .info p {
  letter-spacing: 1px;
  font-size: 12px;
  
}


/*media queries*/

@media only screen and (max-width: 767px) {

  .titre1 {
    font-size:70px;
    top: 25%;
    left: 15%;
    
  }

}

@media only screen and (max-width: 1000px) {
  .titre1 {
    font-size: 80px;
    top: 25%;
    left: 15%;
  }


}

@media only screen and (max-width: 600px) {

  .menu a {
    font-size:12px;
  }
  .titre1 {
    font-size: 50px;
    top: 25%;
    left: 15%;
  }

.p-histoire {
  font-size: 30px;
  text-align: center;
}

.p-2 {
  width: 400px;
  margin-left: 15px;
}

.margin-histoire {
margin-left: auto;
}



.paragraphe-histoire {
  width: 400px;
  margin-left: -50px;
}
  .image-histoire {
    margin-left: 90px;
    width: 60%;
  }



  .img-suitehistoire{
    margin-left: 50px;
    margin-top:30px;
    width: 60%;

  }

  .img-suitehistoire2 {
    margin-left: 120px;
    width: 60%;
    

}

.p-sneakers {
  font-size: 30px;
  margin-left: 10px;

}
.card {
  margin-left:20px;
 }

}


