body{
  background-image: url(./img/111380.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
background-position-x: center; 
background-position-y : 0px;
margin : 0px !important;
}

#navbar{
  position: relative;
  display: flex;
  flex-flow : row;
  width: 100vw;
  height: 10vh;
  background-color : rgba(104, 92, 92, 0.664);
  margin: -10px;
}

.firstTitre{
  background-size: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  font-size: 150px;
  text-shadow:   -1px -1px 0 #000, ;
  font-family: 'Righteous', cursive;
}

.nav-item:hover:after {
  width: 100%;

}
.nav-item:hover{
  cursor: pointer;
}
.nav-item {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  height: 10vh;
  text-align: center;
  line-height:10vh ;
  display: inline-block;
    position: relative;
  text-decoration: none;
}
.nav-item:after {
  content: '';
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid white;
  transition: 0.4s;
}

.burger:hover{
  cursor: pointer;
}

.burger{
  margin-top: 5px;
  width: 50px;
  height: auto;
  opacity: 0;
}



.page{
  display: flex;
  height: 100vh;
  width: 100vw;
  
}


#page1{
 height: 134vh!important;
}

#page2{
  background-color : black;
}

#page3{
  background-color : pink;
}

@media screen and (max-width: 600px) {
  .nav-item{
    visibility: hidden;
  }
  .burger{
    position: absolute;
    right: 50px;
    top: 2%;
    min-width: 10%;
    min-height: 10%;
    opacity: 1;
  }

}