


/*navbar*/

.menu {
  position: fixed;
  z-index: 1000;
  display: flex;
  margin-left : -50px;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  font-family: 'Righteous', cursive;


}

.menu a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 15px;
}

/*hover navbar*/

.sliding-u-l-r {
  display: inline-block;
    position: relative;
  text-decoration: none;
}
.sliding-u-l-r:after {
  content: '';
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid white;
  transition: 0.4s;
}
.sliding-u-l-r:hover:after {
  width: 100%;
}




.demo-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
}
  

.backgrounds {
  width: 100vw;
  height: 100vh  ;
  transition: transform ease .8s;
}

.bg {
   width: 100%;
  height: 100%;
  padding: 1px;
}

/*page d'acceuil*/

 
.bg-1 {
  background-image: url(./img/111380.jpg);
  background-size: cover;
  background-position: center;
  
}

.firstTitre{
  background-size: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  font-size: 150px;
  text-shadow:   -1px -1px 0 #000, ;
  font-family: 'Righteous', cursive;
}
  /*navbar*/

/*page 2 histoire*/

  
.bg-2 {
    background-color: rosybrown;
  background-size: cover;
  background-position: center;
}

.img-dame {
  width: 250px;
  margin-top: 100px;
  height: 300px;
  margin-right: 10px;
  margin-left: 100px;
  align-items: center;
}



.bg-3 {
    background-color: royalblue;
  background-size: cover;
  background-position: center;
}

.bg-4 {
    background-color: seagreen;
  background-size: cover;
  background-position: center;
}

.bg-5 {
    background-color: tomato;
  background-size: cover;
  background-position: center;
}

h1   {
   color: white;
  font-family: Raleway, sans-serif;
  line-height: 100vh;
  font-size: 3rem;
}





  