body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
   
    font-family: 'IM Fell Great Primer', serif;
   

    
   
}

.menu {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgba(68, 66, 66, 0.541);
    width: 100%;
    height: 60px;
    font-family: 'Righteous', cursive;
  

}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 15px;
}


.border-color {
  width: 60px;
  height: 20px;
  background-color: rgb(0, 132, 255);
}



.sliding-u-l-r {
    display: inline-block;
      position: relative;
    text-decoration: none;
  }
  .sliding-u-l-r:after {
    content: '';
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid white;
    transition: 0.4s;
  }
  .sliding-u-l-r:hover:after {
    width: 100%;
  }

.relief-e {

text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}






.firstTitre{
    /* background-image: url(./img/giphy.gif);
    background-repeat: repeat; */
    background-size: 450px;
    height: 300px;
    margin-top:200px;
    display: flex;
    justify-content: center;
    font-size: 150px;
    text-shadow:   -1px -1px 0 #000, ;
    font-family: 'Righteous', cursive;
    
     
  
 

}


.p-histoire {
  margin-top: 30px;
  height: auto;
  font-size: 18px;
  color: #362626;
}


#container{
    background-color : rgba(63, 63, 194, 0.726);
    width: 100vw;
    min-height: 100vh;
    height: max-content;
}

.pageAcceuil{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/111380.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
}
.page1{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 221, 221);
    color: #362626;

}
.page2{
    width: 100vw;
    height: 100vh;
    background-color: white;
  
}

.page3{
    width: 100vw;
    background-color: rgb(253, 253, 253);
    height: 100vh;
}

.page4{
    width: 100vw;
    background-color: rgba(252, 160, 195, 0.671);
    height: 100vh;
}

.img-dame {
    width: 350px;
    margin-top: 100px;
    height: 450px;
    margin-right: 10px;
    margin-left: 100px;
}

.img-2 {
  width: 250px;
  margin-top: 170px;
  height: 350px;
  margin-right: 10px;
  margin-left: 0;

}




.histoire-sneakers {
  margin-top: 50px;
  font-size: 23px;
}



/* #mon3carre{
    width: 50%;
    height: 50%;
    background-color: rgb(21, 124, 43);
}
#mon4carre{
    width: 50%;
    height: 50%;
    background-color: red;
} */





.span-sneakers {
  font-size: 40px;
    color:#180470 ;
}



* {
  box-sizing: border-box;
}


.margin-photo{
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-top: 50px;
  width: 95%;
}

.margin-photo-2 {
  margin-top:10px
}


.card {
  width: 360px;
  height: 250px;
  margin-right:10px;
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.753);
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
 
}
.card .info h1 {
  font-size: 25px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 8px;
}











.profile {
  animation: loadProfile 0.6s ease-in-out;
  animation-fill-mode: both;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
 width: 70%;
 height: 85%;
  border-radius: 5px;
  margin-top:70px;
}

.profile-bg {
  margin-top : -100px;
padding: 60px;
padding-top : 90px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 30px 50px -20px rgba(23, 22, 24, 0.479);
  width: 40vwpx!important;
  height: max-content;
  margin-left : -100px;
  z-index: -3;
}

.containt {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.profile-image {
  z-index : 3;
  animation: loadProfileImage 1s ease-in-out 0.5s;
  animation-fill-mode: both;
  position: relative;
  border-radius: 10px!important;

  width: 30vw;
  min-block-size: 50%;
  flex: none;
  background-image: url(./img/sneakers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  opacity: 0.5;
  mix-blend-mode: screen;
}

.camera {
  color: #ffff;
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-size: 1.3rem;
}

.profile-info {

  margin-top: 120px;
  padding: 8% 8% 2% 8%;
  position: relative;
}

.profile-info h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0.7rem;
  position: absolute;
  animation-fill-mode: both;
}

h1.first-name {
  animation: titleEffect 1s cubic-bezier(0, 0.2, 0.4, 1);
  top: -115px;
  left: -15px;
  color:#362626 ;
}

h1.second-name {
  animation: titleEffect 1s cubic-bezier(0, 0, 0.3, 1);
  top: -50px;
  left: 45px;
  color: #362626;
}

.profile-info h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}

.social-media-icons a,
.profile-info h2 {
  color: #f63d47;
}

.profile-info p {
  line-height: 1.5rem;
}

.social-media-icons {
  display: flex;
}

.social-media-icons a {
  margin-top: 7%;
  font-size: 1.2rem;
  flex: auto;
  text-align: center;
}

.camera,
.social-media-icons a {
  transition: text-shadow 0.5s ease;
}

.camera:hover,
.social-media-icons a:hover {
  text-shadow: 0px 5px 15px rgba(255, 0, 47, 0.45);
}

.statistics {
  margin-right: 10px;
  margin-left: 10px;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics p {
  margin: 3%;
  flex: auto;
  color: #f63d47;
}

.statistics p strong {
  font-size: 1.4rem;
  color: #000;
  font-weight: 200;
  margin-right: 0.3rem;
}





@media only screen and (max-aspect-ratio: 4/7) and (max-width: 600px) {
  .profile {
    margin: 3%;
    height: 97%;
  }
  .container {
    height: 86%;
    flex-direction: column;
  }
  .profile-image {
    height: 40%;
    width: calc(100% - 90px);
  }
 
  h1.first-name {
    left: 10px;
  }
  h1.second-name {
    left: 60px;
  }
}

@media screen and (min-aspect-ratio: 4/7) {
  .profile {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes loadProfile {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loadProfileImage {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes titleEffect {
  from {
    opacity: 0;
    transform: translateX(-75px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
