body {
  width: max-content;
  height: max-content;
}

h3 {
  color: black;
  font-size:60px;

}





.p-acceuil {
  margin-left: 20px;
}

nav {
  position: absolute;
  top:0;
  width: 100vw;
  height: 50px;
  font-family: 'Righteous', cursive;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 display: flex;
 justify-content: center;
 align-items: center;
 

}




#mymenu {
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  
  padding: 13px 50px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
}

/*hover nav bar*/

.sliding-u-l-r {

    position: relative;
  text-decoration: none;
}
.sliding-u-l-r:after {
  content: '';
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid white;
  transition: 0.4s;
  text-decoration: none;
}
.sliding-u-l-r:hover:after {
  width: 100%;
  
}




.acceuil-area {
  background-image: url(./img/111380.jpg);
  background-size: cover;
  background-position: center center;
}

.acceuil-area h2 {
  color: white;
  font-size: 100px;
  font-family: 'Righteous', cursive;
  margin-left: 20px;
  
}

.wrapper {
  margin: 0 auto;
}


.histoire-area {
  background-color: lightcoral;

}

.sneakers-area {
  background-color: lightgreen;
}

.margin-photo{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 50px;
  width: 95%;
}



.card {
  width: 300px;
  height: 250px;
  margin-right:10px;
  margin-bottom: 10px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.753);
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
 
}
.card .info h1 {
  font-size: 25px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 8px;
}



.sorties-area {
  background-color: lightslategray;
}

/*page sneakers*/
.img-sneakers {
width: 220px;
height: 210px;
}
/*Responsive*/

@media only screen and (min-width: 768px) and (max-width: 991px){
  .wrapper {
    width: 90%;
  }


}

@media only screen and (max-width: 767px) {
  .wrapper {
    width: 90%;
  }

  nav {
    
    display: none;
    font-size:15px;
  }

  .acceuil-area h2{
    font-size:55px;
    margin-top:-100px
  }
  h3 {
    font-size:30px ;
  }
  .acceuil-area p, .histoire-area p, .sneakers-area p, .sorties-area p {
    line-height: 20px;
    font-size: 12px;
  }

  .card {
    width: 180px;
    height: 150px;
    margin-right:10px;
    margin-bottom: 10px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.753);
  }

  .card .info {
    display: none;
   
  }
  
  .card .info p {
   display: none;
  }
  
}



